fastapi[all]
email_validator==2.1.1
fastapi==0.110.2

numpy == 1.23.5
openpyxl==3.0.10
orjson==3.10.1
pandas ==1.5.3
patsy==0.5.2
pep8==1.7.1
pickle == 4.0
pickle-mixin==1.0.2
Pillow==9.2.0
pyasn1-modules==0.2.8
pycosat==0.6.3
pycurl==7.45.1
pydantic==2.7.1
pydantic-extra-types==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.18.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
pytest==7.1.2
python-dotenv==1.0.1
python-lsp-jsonrpc==1.0.0
python-multipart==0.0.9
pywin32==302
PyYAML==6.0
queuelib==1.5.0
scikit-learn == 1.2.2
scikit-learn-intelex==2021.20221004.171935
starlette==0.37.2
statsmodels==0.13.2
typing_extensions==4.11.0
uvicorn==0.29.0