fastapi[all]
numpy == 1.23.5
pickle-mixin==1.0.2
pycurl==7.45.1
pydantic==2.7.1
pydantic-extra-types==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.18.2
scikit-learn == 1.2.2
scikit-learn-intelex==2021.20221004.171935
typing_extensions==4.11.0
uvicorn==0.29.0